.btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.form-group {
  width: 100%;
}
.card {
  /*margin-left: 14px;*/
  margin-top: 1em
}
.jumbotron {
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  margin-bottom: 0px;
}
